<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'events/base.html' %}

    {% block content %}
    {% if user.is_authenticated %}
    <center>Want To Add A New Event?</center>
    <br>
    {% if submitted %}
        Your Event has been submitted successfully!!!

    {% else %}

        <form action="" method=POST>
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {% endif %}

    {% else %}
    <h1>Sorry you must be logged in to view this page. Login and try again</h1>
    <a href="{% url 'login' %}">Login Here</a>
    {% endif %}
    {% endblock %}

</body>
</html>