<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% extends 'events/base.html' %}

    {% block content %}
    
    {% if searched %}
<h1>You searched for {{ searched }} </h1>
        <br>
        {% for venue in venues %}
        
        <div class="card">
            <div class="card-header">
                venue test
            </div>
            <div>
                <div class="card-body">
                    <h5 class="card-title">{{ venue }}</h5>
                    <p class="card-text">
                        <ul>
                            {% if venue.name %}
                            <li>Venue: {{ venue.name }}</li>
                            {% endif %}

                            {% if venue.address %}
                            <li> Address: {{ venue.address }}</li>
                            {% endif %}

                            {% if venue.phone %}
                            <li>Contact Phone: {{ venue.phone }}</li>
                            {% endif %}

                            {% if venue.email_address %}
                            <li> Email: <a href="{{ venue.email_address }}">{{ venue.email_address }}</a></li>
                            {% endif %}

                            {% if venue.owner %}
                            <li>Owner ID: {{ venue.owner }}</li>
                            {% endif %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <br>

        {% endfor %}

    {%  else %}
        <h1>You forgot to search for a venue</h1>
    {% endif %}
    
    {% endblock %}
</body>
</html>