<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% extends 'events/base.html' %}

    {% block content %}
    <center>
    {% if searched %}
<h1>You searched for {{ searched }} </h1>
        <br>
        {% for venue in venues %}
        <a href="{% url 'show-venue' venue.id %}"> {{ venue }}</a>
        <br>


        {% endfor %}

    {%  else %}
        <h1>You forgot to search for a venue</h1>
    {% endif %}
    </center>
    {% endblock %}
</body>
</html>