<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show venue</title>
</head>
<body>
    {% extends 'events/base.html' %}

    {% block content %}
    <div class="card">
        <div class="card-header">
            venue test
        </div>
        <div>
            <div class="card-body">
                <h5 class="card-title">{{ venue }}</h5>
                <p class="card-text">
                    <ul>
                        <li>Venue: {{ venue.name }}</li>
                        <li> Address: {{ venue.address }}</li>
                        <li>Contact Phone: {{ venue.phone }}</li>
                        <li> Email: <a href="{{ venue.email_address }}">{{ venue.email_address }}</a></li>
                        <li>Owner: {{ venue_owner }}</li>
                        <li>Owner's Email: {{ venue_owner.email }}</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    </center>
    {% endblock %}

</body>
</html>